@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#tituloPrincipal {
    color: rgb(255 255 255);
    text-shadow: 1px 1px 7px rgb(185 15 15);
    background-color: #327da1;
    border: 5px solid rgb(16, 94, 131);
    width: max-content;
    padding: 10px;
    margin: 10px;
}