body {
    text-align: center;
    font-family: Helvetica, sans-serif;
}

h1 {
    font-size: 42px;
}

/* Botões */
button {
    border: none;
    padding: 10px 15px;
    margin: 0 10px;
    user-select: none;
}

/* Jogo */

#container {
    display: flex;
    width: 300px;
    margin: 0;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.box {
    height: 100px;
    border: 5px solid #000;
    box-sizing: border-box;
    flex: 1 1 33%;
    user-select: none;
}

#bloco-1, #bloco-2, #bloco-3 {
    border-top: none;
}

#bloco-1, #bloco-4, #bloco-7 {
    border-left: none;
}

#bloco-3, #bloco-6, #bloco-9 {
    border-right: none;
}

#bloco-7, #bloco-8, #bloco-9 {
    border-bottom: none;
}

/* Símbolos */

.x {
    font-size: 65px;
    color: red;
    display: inline-block;
    line-height: 100px;
}

.o {
    width: 50px;
    height: 50px;
    border: 5px solid green;
    border-radius: 50%;
    display: inline-block;
    margin-top: 17px;
}

/* Clases de esconder */

.hide {
    display: none !important;
}



/* Placar */

#container-placar{
    font-weight: bold;
    font-size: 25px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#x-placar{
    color: red;
    margin-right: 3px;
}

#o-placar {
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 2px solid green;
    border-radius: 50%;
    margin-right: 2px;
}

.boxPlacar {
    margin: 0 20px;
}

/* Mensagem de vitória */

#mensagem {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: -200px;
    right: -200px;
    top: 90px;
    width: 500px;
    font-size: 36px;
    background-color: #000;
    color: #fff;
    padding: 20px;
}